
#advantage {
  position: relative;
  display: flex;
  padding: 60px 0;
}
.advantage-img {
  background: url("../img/communication.jpg");
  background-size: cover;
  background-position: center 40%;
  width: 50%;
  height: 80vh;
}
.advantage-article {
  width: 50%;
  background: $color1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.advantage-title {
  color: white;
  font-weight: bold;
  font-size: 40px;
  text-transform: uppercase; 
}
.advantage-title span {
  color: $color2;
}

//Media

@media screen and (max-width: 920px) {
  .advantage-title {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .advantage-title {
    font-size: 28px;
  }
  #advantage {
    flex-wrap: wrap;
  }
  .advantage-img {
    width: 100%;
  }
  .advantage-article {
    width: 100%;
    padding: 50px 0;
  }
}

@media screen and (max-width: 576px) {
  #advantage {
    padding: 60px 0 0 0;
  }
  .advantage-title {
    font-size: 26px;
  }
  .advantage-img {
    background-position: 50% 40%;
    height: 50vh;
  }
}

@media screen and (max-width: 420px) {
  .advantage-title {
    font-size: 24px;
  }
}