.contact-info {
  display: flex;
  justify-content: center;
  background: $color2;
  padding: 0 0 100px 0;
  margin: 100px 0 0 0;
}
.contact-tile {
  max-width: 500px;
  width: 100%;
  margin: 0 10px;
  text-align: center;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.23);
  padding: 0 0 50px 0;
  background: white;
  margin: -80px 10px 0 10px;
}
.contact-tile-title {
  color: $color1;
  padding: 25px 15px;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(0,0,0,0.13);
}
.contact-tile-text {
  color: $color1;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-tile-text svg {
  width: 20px;
  height: 20px;
  fill: $color1;
  margin: 0 5px 0 0;
  transition: fill 0.25s;
}
.contact-tile-text a {
  outline-color: $color2;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  transition: color 0.25s;
}
.contact-tile-text a:hover, .contact-tile-text a:focus {
  color: $color2;
}
.contact-tile-text a:hover svg, 
.contact-tile-text a:focus svg {
  fill: $color2;
}
.contact-tile-text:first-of-type {
  padding: 25px 15px 8px 15px;
}

//Media

@media screen and (max-width: 768px) {
  .contact-info {
    flex-wrap: wrap;
    padding: 0 15px 0px 15px;
  }
  .contact-tile {
    width: 100%;
    margin: -50px 0 75px 0;
  }

}

@media screen and (max-width: 420px) {
  .contact-tile-text {
    font-size: 14.5px;
  }
  .contact-tile-title {
    font-size: 20px;
  }
}