
//Info tiles

.info-tiles {
  width: 100%;
  max-width: 1000px;
  margin: 100px auto;
}
.info-tiles-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.info-tile {
  width: 33.3%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  background: $color4;
}
.info-tile-img {
  padding: 0 10px 10px 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: auto;
  height: auto;
  z-index: 1;
  margin: -3px 0 0 0;
}
.info-tiles-img {
  max-width: 550px;
  width: 100%;
  height: auto;
  margin: 0 10px;
  display: block;
}
.info-tile:last-of-type {
  background: $color4;
}
.info-tile:nth-child(odd) {
  background: white;
  color: black;
}
.info-tile:nth-child(2) {
  background: $color1;
  color: white;
}
.info-tile:nth-child(2) {
  background: $color1;
  color: white;
}
.info-tile:nth-child(6) {
  background: white;
  color: black;
}
.info-tile:nth-child(7) {
  background: $color4;
  color: black;
}
.info-tile-text {
  text-transform: uppercase;
  font-weight: bold;
}

//Info diagram

.info-diagram {
  position: relative;
  width: 100%;
  display: flex;
}
.info-diagram-img {
  width: 50%;
  background: url("../img/info.jpg");
  background-size: cover;
  background-position: center 20%;
  height: 80vh;
}
.info-diagram-text {
  width: 50%;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: $color4;
}
.info-diagram-item {
  font-size: 26px;
  font-weight: bold;
  position: relative;
  margin: 25px 0;
  color: $color1;
}
.info-diagram-item:nth-child(odd) {
  color: $color2;
}
.info-diagram-item::before {
  content: "-";
  position: absolute; 
  left: -15px;
  top: 0px;
}


//Info article

.info-article {
  margin: 25px 0;
}
.info-article-text {
  text-align: justify;
}
.info-article-color-1,
.info-article-color-2 {
  font-weight: bold;
}
.info-article-color-1 {
  color: $color2;
}
.info-article-color-2 {
  color: $color1;
}

//Info help {

.info-help {
  background: $color1;
  color: white;
  padding: 20px 15px;
  font-size: 26px;
  text-align: right;
  max-width: 400px;
  width: 100%;
  margin: 50px 0 0 -50px;
}

//Media

@media screen and (max-width: 1200px) {
  .info-diagram-text {
    padding: 50px 20px;
  }
  .info-diagram-item {
    font-size: 22px;
  }
}

@media screen and (max-width: 920px) {
  .info-tile {
    height: 250px;
  }
  .info-tile-img {
    height: auto;
  }
  .info-diagram-item {
    font-size: 20px;
  }
}

@media screen and (max-width: 768px) {
  .info-help {
    margin: 0 0 0 -25px;
  }
  .info-tile {
    height: 200px;
  }
  .info-tile-img {
    height: auto;
  }
  .info-diagram {
    flex-wrap: wrap;
    margin: 50px 0;
  }
  .info-diagram-text, .info-diagram-img {
    width: 100%;
  }
  .info-diagram-text {
    justify-content: center;
    padding: 15px 15px 15px 30px;
  }
  .info-diagram-item {
    font-size: 18px;
  }
  .info-diagram-img {
    height: 50vh;
  }
}

@media screen and (max-width: 576px) {
  .info-help {
    margin: 0 0 0 -15px;
    max-width: 300px;
    font-size: 18px;
  }
  .info-tiles {
    margin: 50px 0;
  }
  .info-tile {
    height: 250px;
    width: 100%;
  }
  .info-tile-img {
    position: static;
    transform: translate(0,0);
    padding: 0 15px;
    margin: 0;
  }
  .info-tiles-img {
    margin: 0;
  }
  .info-tile:nth-child(1) {
    order: 1;
    background: $color2;
    color: white;
  }
  .info-tile:nth-child(2) {
    order: 3;
    background: $color1;
    color: white;
  }
  .info-tile:nth-child(3) {
    order: 2;
    background: $color4;
    color: black;
  }
  .info-tile:nth-child(4) {
    order: 4;
    background: $color2;
    color: white;
  }
  .info-tile:nth-child(5) {
    order: 3;
    background: white;
  }
  .info-tile:nth-child(6) {
    order: 6;
    background: $color4;
  }
  .info-tile:nth-child(7) {
    order: 7;
    background: $color1;
    color: white;
  }
}

@media screen and (max-width: 480px) {
  .info-help {
    max-width: 250px;
  }
}

@media screen and (max-width: 420px) {
  .info-tile {
    height: 230px;
    width: 100%
  }
}