
//Body

body {
  overflow-y: hidden;
}
body.loaded {
  overflow-y: auto;
}

//Section

.section {
  position: relative;
  
}
.section-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 50px;
}
.section-header {
  display: flex;
  width: auto;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 60px auto;
}
.section-header-img  {
  justify-content: center;
}
.section-header-img svg, .section-header-img svg {
  width: 100%;
  height: auto;
  display: block;
}
.section-header-right {
  justify-content: flex-end;
}
.section-header-left {
  justify-content: flex-start;
}
.section-header-center {
  justify-content: center;
}
.section-title {
  position: relative;
  color: $color3;
  font-size: 40px;
  text-transform: uppercase;
  border: 20px solid $color4;
  padding: 20px;
}
.section-title::before {
  content: "";
  position: absolute;
  left: 55%;
  bottom: -20px;
  width: 50px;
  height: 20px;
  background: white;
}

//Big letter 

.big-letter {
  color: #2f2f83;
  font-size: 80px;
  text-transform: uppercase;
  float: left;
  display: inline;
  margin: -22px 10px -35px 0;
  font-weight: bold;
}


@media screen and (max-width: 768px) {
  .section-container {
    padding: 60px 25px;
  }
}

@media screen and (max-width: 576px) {
  .section-container {
    padding: 60px 15px;
  }
  .section-title {
    position: relative;
    color: $color3;
    font-size: 25px;
    text-transform: uppercase;
    border: 10px solid $color4;
    padding: 15px;
  }
  .section-title::before {
    content: "";
    position: absolute;
    left: 40%;
    bottom: -10px;
    width: 50px;
    height: 10px;
    background: white;
  }
  .big-letter {
    font-size: 46px;
    margin: -10px 10px -20px 0;
  }
}