.navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background: white;
  z-index: 100;
  border-bottom: 1px solid #bae3f3;
}
.navigation-right {
  display: flex;
  align-items: center;
  height: 100%;
}
.navigation-left {
  height: 100%;
}

//Navigation logo

.navigation-logo {
  width: 200px;
  height: 100%;
}
.navigation-logo a {
  display: block;
  height: 100%;
  outline: none;
}
.navigation-logo a:focus {
  background: $color2-rgb ;
}
.navigation-logo svg {
  width: auto;
  height: 100%;
}

//Menu

.navigation-menu {
  display: flex;
}
.navigation-menu li a {
  display: block;
  color: $color1;
  padding: 12px 8px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.25s;
}
.navigation-menu li a:hover, .navigation-menu li a:focus {
  color: $color2;
  outline-color: $color2;
}   

.socials {
  padding: 0 0 0 20px;
  display: flex;
}
.socials li {
  margin: 0 4px;
}
.socials li a {
  display: block;
  padding: 4px;
  border: 1px solid $color1;   
  border-radius: 50%;   
  transition: border 0.25s;
  outline-color: $color2;
}
.socials li svg {
  width: 15px;
  height: 15px;
  transition: all 0.25s;
  fill: $color1;
}
.socials li a:hover, .socials li a:focus {
  border-color: $color2;
}
.socials li a:hover svg, .socials li a:focus svg {
  fill: $color2;
}

//Navigation socials
/*
.socials {
  padding: 0 0 0 20px;
  display: flex;
}
.socials li {
  margin: 0 4px;
}
.socials li a {
  display: block;
  padding: 4px 4px;
  border: 1px solid $color1;
  border-radius: 100%;
  transition: border 0.25s;
}
.socials li a span {
  border: 1px solid $color1;
  border-radius: 100%;
  display: block;
  width: 15px;
  height: 15px;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  background-color: $color1;
  transition: background-color 0.25s;
}
.socials li a:hover, .socials li a:focus  {
  border-color: $color2;
  outline: none;
}
.socials li a:hover span, .socials li a:focus  span  {
  background-color: $color2;          
}
.socials li:nth-child(1) span {
  mask-image: url("../img/facebook.svg");
}
.socials li:nth-child(2) span {
  mask-image: url("../img/instagram.svg");
}
.socials li:nth-child(3) span {
  mask-image: url("../img/twitter.svg");
}
*/


//Navigation Button 

.navigation-button {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  position: relative;
  display: none;
  background: none;
  cursor: pointer;
  outline: none;  
}
.navigation-button:hover .navigation-button-description, 
.navigation-button:focus .navigation-button-description  {
  color: $color2;
}
.navigation-button:hover span, .navigation-button:hover span::before,
.navigation-button:hover span::after, .navigation-button:focus span, 
.navigation-button:focus span::before, .navigation-button:focus span::after, {
  background: $color2;
}
.navigation-button-description {
  position: absolute;
  left: -55px;
  padding: 0 10px 0 0;
  top: 0;
  font-size: 18px;
  color: $color1; 
  font-weight: bold;
  transition: color 0.25s;    
}
.navigation-button span {
  width: 22px;
  height: 2px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: $color1;
  transition: background 0.4s;
}
.navigation-button span::before, .navigation-button span::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background: $color1;
  left: 50%;
  transform: translateX(-50%);
  transition: top 0.5s, left 0.5s, transform 0.5s, background 0.25s;
}
.navigation-button span::before {
  top: 8px;
}
.navigation-button span::after {
  top: -8px;
}

//Active class for button

.navigation-button.active .navigation-button-description {
  color: $color2
}
.navigation-button.active:hover .navigation-button-description, 
.navigation-button.active:focus .navigation-button-description  {
  color: $color2;
}
.navigation-button.active span {
  background: rgba(0,0,0,0)
}
.navigation-button.active span::before {
  top: 0;
  left: 0;
  transform: rotate(45deg);
  background: $color2
}
.navigation-button.active span::after {
  top: 0;
  left: 0;
  transform: rotate(135deg);
  background: $color2;
}
.navigation-button.active:hover span::before,
.navigation-button.active:hover span::after, 
.navigation-button.active:focus span::before, .navigation-button.active:focus span::after, {
  background: $color2;
}

//Media

@media screen and (max-width: 920px) {
  .navigation {
    padding: 0 15px;
    border-bottom: 1px solid #bae3f3;
  }
  .navigation-right {
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    height: calc(100% - 60px);
    opacity: 0;
    visibility: hidden;
    background: white;
    transition: background 0.25s, opacity 0.25s, visibility 0.25s;
    flex-wrap: wrap;
    z-index: 100;
  }
  .navigation-right.active {
    visibility: visible;
    opacity: 1;
    z-index: 30;
  }
  .navigation-menu {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .navigation-socials {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .navigation-button {
    display: block;
  }
  .navigation-logo svg {
    margin: 5px 0 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .navigation-logo svg {
    margin: 5px 0 0 -10px;
  }
}

@media screen and (max-width: 576px) {
  .navigation-logo {
    width: 140px;
    height: 100%;
  }
  .navigation-logo a {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .navigation-logo svg {
    margin: 5px 0 0 -20px;
  }
}