
* {
  box-sizing: border-box;
}

//Colors
$color1: #2f2f83;
$color1-rgb: rgba(47, 47, 131, 0.85);
$color2: #57c6f1;
$color3: #a8a9ad;
$color4: #e6e7e9;
$color5: #3c3c3d;
$color6: #f2f3f4;
$color7: #5057a5;